
.tooltip{
  font-size: 12pt;
  border-radius: 10px;
}

.tooltip > ul {
  list-style: none;
  margin: 0;
  padding:  0.5em;
}
.tooltip > ul > ul {
  list-style: none;
  margin: 0;
  padding: 0 0 1.0em 1.0em ;
}